<?xml version="1.0"?>
<launch>

  <include file="$(find openni2_launch)/launch/openni2.launch" />
  <node pkg="face_classification" type="gender_classification.py"  name="gender_classification" required="true">
    <param name="camera_rgb_topic" value="/camera/rgb/image_raw" type="string"/>
  </node>


</launch>
